@page
@model The_cheapest_prices.Pages.EditProfileModel
@{


<form method="post">
    <div class="w-50 mx-auto mt-5">
        <div class="mb-4">
                <input asp-for="CurrentUser.Id" type="hidden" />
            <label for="exampleFormControlInput" class="form-label">Ваше ім'я</label>
            <input asp-for="CurrentUser.Name" class="form-control border-success">
        </div>

        <div class="mb-4">
            <label for="exampleFormControlInput" class="form-label">Ваше прізвище</label>
            <input asp-for="CurrentUser.Surname" class="form-control border-success">
        </div>

        <div class="mb-4">
            <label for="exampleFormControlInput" class="form-label">Ваш номер телефона</label>
            <input asp-for="CurrentUser.NumberPhone" class="form-control border-success">
        </div>

        <div class="mb-4">
            <label for="exampleFormControlInput4" class="form-label">Ваша стать</label>
            <select asp-for="CurrentUser.Sex" class="form-control border-success">
                <option value="">-- Виберіть стать --</option>
                <option value="Чоловік">Чоловік</option>
                <option value="Жінка">Жінка</option>
                <option value="Інше">Інше</option>
            </select>
        </div>

        <div class="mb-4">
            <label for="exampleFormControlInput" class="form-label">Ваша дата народження</label>
            <input asp-for="CurrentUser.DateOfBirth" type="date" class="form-control border-success">
        </div>

        <div class="mb-4">
            <label for="exampleFormControlInput" class="form-label">Ваша почта</label>
            <input asp-for="CurrentUser.Email" type="email" class="form-control border-success" readonly>
        </div>

        

            <button type="submit" class="btn btn-outline-primary">Зберегти</button>
    </div>
</form>

}