@page
@model The_cheapest_prices.Pages.LoginModel
@{
}

<form method="post">
    <div class="w-50 mx-auto mt-5">
        @if (!string.IsNullOrEmpty(Model.Message))
        {
            <p class="fs-3">@Model.Message</p>
        }

        <div class="mb-4">
            <label for="exampleFormControlInput1" class="form-label">Ваша почта</label>
            <input asp-for="Email" class="form-control border-success">
        </div>

        <div class="mb-4">
            <label for="exampleFormControlInput2" class="form-label">Ваш пароль</label>
            <input asp-for="Password" type="password" class="form-control border-success">
        </div>

        <div>
            <button type="submit" class="btn btn-outline-primary">Увійти</button>
            <a class="btn btn-link" asp-area="" asp-page="/Registration">Зареєструвати</a>
        </div>
    </div>
</form>
