@page
@model The_cheapest_prices.Pages.RegistrationModel
@{
}

<form method="post">
    <div class="w-50 mx-auto mt-5">
        @if (!string.IsNullOrEmpty(Model.Message))
        {
            <p class="fs-3">@Model.Message</p>
        }
        <div class="mb-4">
            <label for="exampleFormControlInput1" class="form-label">Ваше ім'я</label>
            <input asp-for="Name" class="form-control border-success">
        </div>

        <div class="mb-4">
            <label for="exampleFormControlInput2" class="form-label">Ваше прізвище</label>
            <input asp-for="Surname" class="form-control border-success">
        </div>

        <div class="mb-4">
            <label for="exampleFormControlInput3" class="form-label">Ваш номер телефона</label>
            <input asp-for="NumberPhone" class="form-control border-success">
        </div>

        <div class="mb-4">
            <label for="exampleFormControlInput4" class="form-label">Ваша стать</label>
            <select asp-for="Sex" class="form-control border-success">
                <option value="">-- Виберіть стать --</option>
                <option value="Чоловік">Чоловік</option>
                <option value="Жінка">Жінка</option>
                <option value="Інше">Інше</option>
            </select>
        </div>

        <div class="mb-4">
            <label for="exampleFormControlInput5" class="form-label">Ваша дата народження</label>
            <input asp-for="DateOfBirth" type="date" class="form-control border-success">
        </div>

        <div class="mb-4">
            <label for="exampleFormControlInput6" class="form-label">Ваша почта</label>
            <input asp-for="Email" type="email" class="form-control border-success">
        </div>

        <div class="mb-4">
            <label for="exampleFormControlInput7" class="form-label">Ваш пароль</label>
            <input asp-for="Password" type="password" class="form-control border-success">
        </div>

        <button type="submit" class="btn btn-outline-primary">Зареєструвати</button>
    </div>
</form>
