@page
@model The_cheapest_prices.Pages.SellProductModel
@{
    <form method="post" enctype="multipart/form-data">
        <div class="w-50 mx-auto mt-5">
            @if (!string.IsNullOrEmpty(Model.Message))
            {
                <p class="fs-3">@Model.Message</p>
            }
            <div class="mb-4">
                <label for="exampleFormControlInput1" class="form-label">Назва продукту</label>
                <input asp-for="Title" class="form-control border-success">
            </div>

            <div class="mb-4">
                <label for="exampleFormControlInput2" class="form-label">Опис продукту</label>
                <input asp-for="Description" class="form-control border-success">
            </div>

            <div class="mb-4">
                <label for="exampleFormControlInput3" class="form-label">Ціна (наприклад: 10,2)</label>
                <input asp-for="Price" class="form-control border-success">
            </div>

            <div class="mb-4">
                <label for="exampleFormControlInput4" class="form-label">Доставка</label>
                <select asp-for="With_Delivery" class="form-control border-success">
                    <option value="">-- - --</option>
                    <option value="1">З доставкою</option>
                    <option value="0">Без доставки</option>
                </select>
            </div>

            <div class="mb-4">
                <label for="exampleFormControlInput5" class="form-label">Місто</label>
                <input asp-for="City" class="form-control border-success">
            </div>

            <div class="mb-4">
                <label for="exampleFormControlInput6" class="form-label">Адреса</label>
                <input asp-for="Address" class="form-control border-success">
            </div>

            <div class="mb-4">
                <input type="file" asp-for="ImageFile" />
            </div>

            <div class="mb-4">
                <label for="exampleFormControlInput4" class="form-label">Категорія</label>
                <select asp-for="Category" class="form-control border-success">
                    <option value="">-- - --</option>
                    <option value="Електрика">Електрика</option>
                    <option value="Побутова техніка">Побутова техніка</option>
                    <option value="Інструменти та автотовари">Інструменти та автотовари</option>
                    <option value="Сантехніка та ремонт">Сантехніка та ремонт</option>
                    <option value="Спорт і захоплення">Спорт і захоплення</option>
                    <option value="Одяг, взуття та прикраси">Одяг, взуття та прикраси</option>
                    <option value="Краса та здоров’я">Краса та здоров’я</option>
                    <option value="Дитячі товари">Дитячі товари</option>
                    <option value="Зоотовари">Зоотовари</option>
                    <option value="Офіс, школа, книги">Офіс, школа, книги</option>
                </select>
            </div>

            <button type="submit" class="btn btn-outline-primary">Зареєструвати</button>
        </div>
    </form>
}
